.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/images/hero-image.jpg';

  background-image: url($hero-image);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  padding-bottom: 3em;
  min-height: 680px;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em 0;
    text-align: left;

    .hero-copy {
      text-align: left;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      h2 {

      }

      p {

        line-height: 1.4em;
        //margin: 0 auto 3em auto;

        @include media($large-screen) {
          //font-size: 1.1em;
          //max-width: 40%;
        }
      }
    }
  }
}

#services {
  .col {
    float: left;
    width: 25%;
  }
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

#home-hero {
  .hero-copy {
    padding: 14em 0;
    text-align: center;
    text-transform: uppercase;
  }
  h1, p {
    background: rgba(47, 105, 0, 0.57);
    font-size: 40px;
    font-weight: normal;
    line-height: 1.4em;
    margin: 0 auto;
  }
  h1 {
    font-weight: bold;
    max-width: 800px;
  }
  p {
    max-width: 1065px;
  }
}


//@todo find different stock hero images for each section
#services-hero,
#about-hero,
#customers-hero,
#estimates-hero,
#contact-hero {
  &.hero {
    background-image: url('/images/hero-image-gray.jpg');
  }
}

#customer-list {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
  ul {
    float: left;
    max-width: 255px;
    margin-right: 2em;
    &:last-of-type {
      margin-right: 0;
    }
  }
}