#services-list {
  .col {
    list-style: none;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3em;
    padding: 0 1.5em;
    p {
      font-size: 14px;
    }
    //&:first-of-type {
    //  margin-left: 0;
    //  padding-left: 0;
    //}
    @media (min-width: 700px) and (max-width: 1023px) {
      float: left;
      width: 49.2%;
      margin: 1% 0 1% 1.6%;
      min-height: 420px;
      text-align: left;
      &:first-of-type {
        margin-left: 0;
        padding-left: 0;
      }
      &:nth-of-type(3n) {
        margin-left: 0;
        padding-left: 0;
      }
    }
    @media (min-width: 1024px) {
      float: left;
      width: 32.26%;
      margin: 1% 0 1% 1.6%;
      text-align: left;
      &:first-of-type {
        margin-left: 0;
        padding-left: 0;
      }
      &:nth-of-type(4n) {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  &:after {
    clear: both;
    content: "";
    display: block;

  }
}

#product-list {
  .logo {
    display: block;
    float: left;
    margin-right: 1em;
    text-align: center;
    width: 32%;
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}