#{$all-buttons},
.btn {
  appearance: none;
  background-color: $blue;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  margin-bottom: 1em;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($blue, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.btn-home-hero {
  background: transparent;
  border: 1px solid $charcoal;
  border-radius: 0;
  color: $charcoal;
  margin-bottom: 0;
  width: 100%;
  @media screen and (min-width: 450px) {
    max-width: 206px;
    margin-bottom: 1em;
  }
  &:hover,
  &:focus {
    background: transparent;
    color: $charcoal;
    outline: none;
  }
  &:hover {
    background: $green;
    border: 1px solid $green;
  }
  &.active {
    background: $green;
    border: 1px solid $green;
  }
}
