.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.clear,
.clearfix {
  clear: both;
}
.uppercase {
  text-transform: uppercase;
}
.wrap {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1em;
  @media (min-width: $max-width) {
    padding: 0;
  }
  @include clearfix;
}
.z-low {
  position: relative;
  z-index: 100;
}
.z-medium {
  position: relative;
  z-index: 200;
}
.z-high {
  position: relative;
  z-index: 300;
}
.strong,
.bold {
  font-weight: bold;
}